body {
    background-color: lightgrey;
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

model-viewer {
    height: 60vh;
    width: 100%;
}

.Main-Header {
    color: navy;
}